.nostri-numeri.container{
    color: white;
    h2{
        font-size: 50px;
        font-weight: 700;
        color: #006cfa;
        margin-bottom: 50px;
    }
    .box{
        width: 300px;
        margin-right: 60px;
        img {
            width: 80px;
            margin-bottom: 30px;
        }
        .number{
            font-size: 50px;
            font-weight: 700;
        }
        .fact{
            font-size: 20px;
        }
    }
}